/*
@charset "utf-8";
.Left_Menu_Col {
	display: block;
	float: left;
	width: 170px;
	text-align: center;
	padding-right: 10px;
}
#Right_Content_Col {
	display: block;
	float: right;
	width:570px;
}
#Managence_Logo_Title {
	font-size: x-large;
}
h1 {
	text-align: center;
}
html {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin:0;
	padding:0;
	color:#000;
	
}
#Managence_Footer {
	clear:both;
	
	text-align:center;
}
#Green_Box {
	padding-right:10px;
	float:left;
}
#wrap {
	width: 750px;	
	margin:0 auto;
}
*/